$base-background: indianred;
$main-font-color: teal;
$main-background: white;

body {
  background-color: $base-background;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: lighten($base-background, 30%);
}

header {
  text-align: center;
  color: $main-background;
}

header img {
  max-height: 6rem;
  margin: 1rem 0 0;
}

main {
  background-color: $main-background;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: $main-font-color;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
}

main h2 {
  font-family: monospace;
  color: lighten($main-font-color, 10%);
}

footer {
  color: $main-background;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 1rem 0;
}

footer img {
  height: 4rem;
  margin: 0 1rem;
}

footer p {
  background-color: darken($base-background, 10%);
}
